@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    body * {

    }
}



@layer base {

    body * {
        /*@apply transition-colors duration-500;*/
    }

    .common-dark {
        --theme-body-50: 20, 20, 20;
        --theme-body-100: 56, 56, 56;
        --theme-body-200: 67, 67, 67;
        --theme-body-300: 81, 81, 81;
        --theme-body-400: 102, 102, 102;
        --theme-body-500: 129, 129, 129;
        --theme-body-600: 164, 164, 164;
        --theme-body-700: 200, 200, 200;
        --theme-body-800: 247, 247, 247;
        --theme-body-900: 255, 255, 255;

        --theme-font-50: 255, 255, 255;
        --theme-font-100: 247, 247, 247;
        --theme-font-200: 200, 200, 200;
        --theme-font-300: 164, 164, 164;
        --theme-font-400: 129, 129, 129;
        --theme-font-500: 102, 102, 102;
        --theme-font-600: 81, 81, 81;
        --theme-font-700: 67, 67, 67;
        --theme-font-800: 56, 56, 56;
        --theme-font-900: 20, 20, 20;
    }
    .common-light {
        --theme-body-50: 255, 255, 255;
        --theme-body-100: 227, 227, 227;
        --theme-body-200: 200, 200, 200;
        --theme-body-300: 164, 164, 164;
        --theme-body-400: 129, 129, 129;
        --theme-body-500: 102, 102, 102;
        --theme-body-600: 81, 81, 81;
        --theme-body-700: 67, 67, 67;
        --theme-body-800: 56, 56, 56;
        --theme-body-900: 20, 20, 20;

        --theme-font-50: 20, 20, 20;
        --theme-font-100: 56, 56, 56;
        --theme-font-200: 67, 67, 67;
        --theme-font-300: 81, 81, 81;
        --theme-font-400: 102, 102, 102;
        --theme-font-500: 129, 129, 129;
        --theme-font-600: 164, 164, 164;
        --theme-font-700: 200, 200, 200;
        --theme-font-800: 227, 227, 227;
        --theme-font-900: 255, 255, 255;
    }

    :root {

        --theme-body-50: 255, 255, 255;
        --theme-body-100: 227, 227, 227;
        --theme-body-200: 200, 200, 200;
        --theme-body-300: 164, 164, 164;
        --theme-body-400: 129, 129, 129;
        --theme-body-500: 102, 102, 102;
        --theme-body-600: 81, 81, 81;
        --theme-body-700: 67, 67, 67;
        --theme-body-800: 56, 56, 56;
        --theme-body-900: 20, 20, 20;

        --theme-font-50: 20, 20, 20;
        --theme-font-100: 56, 56, 56;
        --theme-font-200: 67, 67, 67;
        --theme-font-300: 81, 81, 81;
        --theme-font-400: 102, 102, 102;
        --theme-font-500: 129, 129, 129;
        --theme-font-600: 164, 164, 164;
        --theme-font-700: 200, 200, 200;
        --theme-font-800: 227, 227, 227;
        --theme-font-900: 255, 255, 255;

        --theme-50: 241, 249, 254;
        --theme-100: 226, 242, 252;
        --theme-200: 191, 229, 248;
        --theme-300: 134, 209, 243;
        --theme-400: 70, 185, 234;
        --theme-500: 30, 161, 217;
        --theme-600: 15, 118, 169;
        --theme-700: 15, 103, 149;
        --theme-800: 16, 87, 124;
        --theme-900: 19, 73, 103;
    }
    .root-light  {

        --theme-body-50: 255, 255, 255;
        --theme-body-100: 227, 227, 227;
        --theme-body-200: 200, 200, 200;
        --theme-body-300: 164, 164, 164;
        --theme-body-400: 129, 129, 129;
        --theme-body-500: 102, 102, 102;
        --theme-body-600: 81, 81, 81;
        --theme-body-700: 67, 67, 67;
        --theme-body-800: 56, 56, 56;
        --theme-body-900: 20, 20, 20;

        --theme-font-50: 20, 20, 20;
        --theme-font-100: 56, 56, 56;
        --theme-font-200: 67, 67, 67;
        --theme-font-300: 81, 81, 81;
        --theme-font-400: 102, 102, 102;
        --theme-font-500: 129, 129, 129;
        --theme-font-600: 164, 164, 164;
        --theme-font-700: 200, 200, 200;
        --theme-font-800: 227, 227, 227;
        --theme-font-900: 255, 255, 255;

        --theme-50: 241, 249, 254;
        --theme-100: 226, 242, 252;
        --theme-200: 191, 229, 248;
        --theme-300: 134, 209, 243;
        --theme-400: 70, 185, 234;
        --theme-500: 30, 161, 217;
        --theme-600: 15, 118, 169;
        --theme-700: 15, 103, 149;
        --theme-800: 16, 87, 124;
        --theme-900: 19, 73, 103;
    }
    .root-dark {

        --theme-body-50: 20, 20, 20;
        --theme-body-100: 56, 56, 56;
        --theme-body-200: 67, 67, 67;
        --theme-body-300: 81, 81, 81;
        --theme-body-400: 102, 102, 102;
        --theme-body-500: 129, 129, 129;
        --theme-body-600: 164, 164, 164;
        --theme-body-700: 200, 200, 200;
        --theme-body-800: 247, 247, 247;
        --theme-body-900: 255, 255, 255;

        --theme-font-50: 255, 255, 255;
        --theme-font-100: 247, 247, 247;
        --theme-font-200: 200, 200, 200;
        --theme-font-300: 164, 164, 164;
        --theme-font-400: 129, 129, 129;
        --theme-font-500: 102, 102, 102;
        --theme-font-600: 81, 81, 81;
        --theme-font-700: 67, 67, 67;
        --theme-font-800: 56, 56, 56;
        --theme-font-900: 20, 20, 20;

        --theme-50: 19, 73, 103;
        --theme-100: 16, 87, 124;
        --theme-200: 15, 103, 149;
        --theme-300: 15, 118, 169;
        --theme-400: 30, 161, 217;
        --theme-500: 70, 185, 234;
        --theme-600: 134, 209, 243;
        --theme-700: 191, 229, 248;
        --theme-800: 226, 242, 252;
        --theme-900: 241, 249, 254;
    }

    .second-light {

        --theme-body-50: 255, 255, 255;
        --theme-body-100: 227, 227, 227;
        --theme-body-200: 200, 200, 200;
        --theme-body-300: 164, 164, 164;
        --theme-body-400: 129, 129, 129;
        --theme-body-500: 102, 102, 102;
        --theme-body-600: 81, 81, 81;
        --theme-body-700: 67, 67, 67;
        --theme-body-800: 56, 56, 56;
        --theme-body-900: 20, 20, 20;

        --theme-font-50: 20, 20, 20;
        --theme-font-100: 56, 56, 56;
        --theme-font-200: 67, 67, 67;
        --theme-font-300: 81, 81, 81;
        --theme-font-400: 102, 102, 102;
        --theme-font-500: 129, 129, 129;
        --theme-font-600: 164, 164, 164;
        --theme-font-700: 200, 200, 200;
        --theme-font-800: 227, 227, 227;
        --theme-font-900: 255, 255, 255;

        --theme-50: 240, 253, 249;
        --theme-100: 203, 252, 238;
        --theme-200: 151, 248, 220;
        --theme-300: 91, 237, 201;
        --theme-400: 42, 215, 178;
        --theme-500: 15, 169, 138;
        --theme-600: 10, 151, 125;
        --theme-700: 13, 120, 102;
        --theme-800: 15, 96, 83;
        --theme-900: 18, 79, 69;
    }
    .second-dark {

        --theme-body-50: 20, 20, 20;
        --theme-body-100: 56, 56, 56;
        --theme-body-200: 67, 67, 67;
        --theme-body-300: 81, 81, 81;
        --theme-body-400: 102, 102, 102;
        --theme-body-500: 129, 129, 129;
        --theme-body-600: 164, 164, 164;
        --theme-body-700: 200, 200, 200;
        --theme-body-800: 247, 247, 247;
        --theme-body-900: 255, 255, 255;

        --theme-font-50: 255, 255, 255;
        --theme-font-100: 247, 247, 247;
        --theme-font-200: 200, 200, 200;
        --theme-font-300: 164, 164, 164;
        --theme-font-400: 129, 129, 129;
        --theme-font-500: 102, 102, 102;
        --theme-font-600: 81, 81, 81;
        --theme-font-700: 67, 67, 67;
        --theme-font-800: 56, 56, 56;
        --theme-font-900: 20, 20, 20;

        --theme-50: 18, 79, 69;
        --theme-100: 15, 96, 83;
        --theme-200: 13, 120, 102;
        --theme-300: 10, 151, 125;
        --theme-400: 15, 169, 138;
        --theme-500: 42, 215, 178;
        --theme-600: 91, 237, 201;
        --theme-700: 151, 248, 220;
        --theme-800: 203, 252, 238;
        --theme-900: 240, 253, 249;
    }

    .third-light  {

        --theme-body-50: 255, 255, 255;
        --theme-body-100: 227, 227, 227;
        --theme-body-200: 200, 200, 200;
        --theme-body-300: 164, 164, 164;
        --theme-body-400: 129, 129, 129;
        --theme-body-500: 102, 102, 102;
        --theme-body-600: 81, 81, 81;
        --theme-body-700: 67, 67, 67;
        --theme-body-800: 56, 56, 56;
        --theme-body-900: 20, 20, 20;

        --theme-font-50: 20, 20, 20;
        --theme-font-100: 56, 56, 56;
        --theme-font-200: 67, 67, 67;
        --theme-font-300: 81, 81, 81;
        --theme-font-400: 102, 102, 102;
        --theme-font-500: 129, 129, 129;
        --theme-font-600: 164, 164, 164;
        --theme-font-700: 200, 200, 200;
        --theme-font-800: 227, 227, 227;
        --theme-font-900: 255, 255, 255;

        --theme-50: 255, 243, 253;
        --theme-100: 255, 230, 254;
        --theme-200: 255, 204, 251;
        --theme-300: 255, 163, 245;
        --theme-400: 255, 109, 238;
        --theme-500: 255, 54, 238;
        --theme-600: 228, 21, 207;
        --theme-700: 189, 14, 167;
        --theme-800: 169, 15, 148;
        --theme-900: 126, 17, 109;
    }
    .third-dark  {

        --theme-body-50: 20, 20, 20;
        --theme-body-100: 56, 56, 56;
        --theme-body-200: 67, 67, 67;
        --theme-body-300: 81, 81, 81;
        --theme-body-400: 102, 102, 102;
        --theme-body-500: 129, 129, 129;
        --theme-body-600: 164, 164, 164;
        --theme-body-700: 200, 200, 200;
        --theme-body-800: 247, 247, 247;
        --theme-body-900: 255, 255, 255;

        --theme-font-50: 255, 255, 255;
        --theme-font-100: 247, 247, 247;
        --theme-font-200: 200, 200, 200;
        --theme-font-300: 164, 164, 164;
        --theme-font-400: 129, 129, 129;
        --theme-font-500: 102, 102, 102;
        --theme-font-600: 81, 81, 81;
        --theme-font-700: 67, 67, 67;
        --theme-font-800: 56, 56, 56;
        --theme-font-900: 20, 20, 20;

        --theme-50: 126, 17, 109;
        --theme-100: 169, 15, 148;
        --theme-200: 189, 14, 167;
        --theme-300: 228, 21, 207;
        --theme-400: 255, 54, 238;
        --theme-500: 255, 109, 238;
        --theme-600: 255, 163, 245;
        --theme-700: 255, 204, 251;
        --theme-800: 255, 230, 254;
        --theme-900: 255, 243, 253;
    }

    .fourth-light  {

        --theme-body-50: 255, 255, 255;
        --theme-body-100: 227, 227, 227;
        --theme-body-200: 200, 200, 200;
        --theme-body-300: 164, 164, 164;
        --theme-body-400: 129, 129, 129;
        --theme-body-500: 102, 102, 102;
        --theme-body-600: 81, 81, 81;
        --theme-body-700: 67, 67, 67;
        --theme-body-800: 56, 56, 56;
        --theme-body-900: 20, 20, 20;

        --theme-font-50: 20, 20, 20;
        --theme-font-100: 56, 56, 56;
        --theme-font-200: 67, 67, 67;
        --theme-font-300: 81, 81, 81;
        --theme-font-400: 102, 102, 102;
        --theme-font-500: 129, 129, 129;
        --theme-font-600: 164, 164, 164;
        --theme-font-700: 200, 200, 200;
        --theme-font-800: 227, 227, 227;
        --theme-font-900: 255, 255, 255;

        --theme-50: 255, 241, 243;
        --theme-100: 255, 227, 231;
        --theme-200: 255, 204, 214;
        --theme-300: 255, 162, 180;
        --theme-400: 254, 110, 142;
        --theme-500: 249, 58, 105;
        --theme-600: 230, 24, 84;
        --theme-700: 194, 14, 71;
        --theme-800: 169, 15, 69;
        --theme-900: 139, 16, 63;
    }
    .fourth-dark  {

        --theme-body-50: 20, 20, 20;
        --theme-body-100: 56, 56, 56;
        --theme-body-200: 67, 67, 67;
        --theme-body-300: 81, 81, 81;
        --theme-body-400: 102, 102, 102;
        --theme-body-500: 129, 129, 129;
        --theme-body-600: 164, 164, 164;
        --theme-body-700: 200, 200, 200;
        --theme-body-800: 247, 247, 247;
        --theme-body-900: 255, 255, 255;

        --theme-font-50: 255, 255, 255;
        --theme-font-100: 247, 247, 247;
        --theme-font-200: 200, 200, 200;
        --theme-font-300: 164, 164, 164;
        --theme-font-400: 129, 129, 129;
        --theme-font-500: 102, 102, 102;
        --theme-font-600: 81, 81, 81;
        --theme-font-700: 67, 67, 67;
        --theme-font-800: 56, 56, 56;
        --theme-font-900: 20, 20, 20;

        --theme-50: 139, 16, 63;
        --theme-100: 169, 15, 69;
        --theme-200: 194, 14, 71;
        --theme-300: 230, 24, 84;
        --theme-400: 249, 58, 105;
        --theme-500: 255, 110, 141;
        --theme-600: 255, 162, 180;
        --theme-700: 255, 204, 214;
        --theme-800: 255, 227, 231;
        --theme-900: 255, 241, 243;
    }

}
